/.idea/aws.xml
/.idea/cssdialects.xml
/.idea/nx-console.xml
/.idea/git_toolbox_blame.xml
/.idea/git_toolbox_prj.xml
/.idea/webResources.xml
node_modules/
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.toc
**/*.lg
**/*.gz
**/*.log
**/*.out
**/*.thm
**/*.xdv
bes-songbook.tex
bes-songbook.pdf
target-tex
