{
  "singleQuote": true,
  "printWidth": 80,
  "semi": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "plugins": [
    "prettier-plugin-latex",
    "./src/prettier-bes-txt-plugin/index.ts"
  ]
}
